<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  {% if site.data.settings.google-analytics %}
    {% include google-analytics.html %}
  {% endif %}

  {% include header.html %}

  <!-- begin content -->
  <main class="content" aria-label="Content">
	<div>
		<ul class="small-block-grid-4">
			{% for gallery in page.galleries %}
			<li>
			<a href="{{ gallery['link'] }}">
				<img class="gallery-best-image" src="{{ gallery['link'] }}/thumbs/front_{{ gallery['best_image'] }}">
			</a>
			<h3><a href="{{ gallery['link'] }}">{{ gallery["title"] }}</a></h3>
			</li>
			{% endfor %}
		</ul>
	</div>
  </main>
  <!-- end content -->

  <div class="top" title="Top"><i class="fa-solid fa-chevron-up"></i></div>
  {% include footer.html %}
  {% include javascripts.html %}
</body>

</html>