<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  {% if site.data.settings.google-analytics %}
    {% include google-analytics.html %}
  {% endif %}

  {% include header.html %}

  <!-- begin content -->
  <main class="content" aria-label="Content">
    <div>
      	<ul class="clearing-thumbs small-block-grid-4" data-clearing>
		{% for image in page.images %}
        <li><a href="{{ image }}">
        	{% if page.captions[image] == nil %}
        	<img data-caption="<a class='clearing-link' href='/contact/'>Ask me about this work</a>" src="thumbs/{{ image }}">
            {% else %}
        	<img data-caption="{{ page.captions[image] }}.  <a class='clearing-link' href='/contact/'>Ask me about this work</a>" src="thumbs/{{ image }}" alt="{{ page.captions[image] }}" title="{{ page.captions[image] }}">
            {% endif %}
        </a></li>
		{% endfor %}
		</ul>
		<div id="spinner"></div>
	</div>
  </main>
  <!-- end content -->

  <div class="top" title="Top"><i class="fa-solid fa-chevron-up"></i></div>
  {% include footer.html %}
  {% include javascripts.html %}
</body>

</html>